*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#fullscreen-container{
  width: 100%;
  height: 100vh;
  background-size: cover; 
  background-image:url('../image/kristopher-roller-zepnJQycr4U-unsplash.jpg'); 
  display: flex;
 justify-content: center;
 align-items: center;
}
.container{
  width:30vw;
  height: 40vh;
  border:#7400b8 solid 1px;
  padding: 10px;
  background: hsla(279, 56%, 63%, 0.3);
}
.heading{
  width: 100%;
  text-align: center;
  color: #ecf8f8;
}

#email-label,#password-label{
  width: 100%;
  margin:5% 0 0 20%;
  color: #ecf8f8;
}

.form-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.input-field,#submit-button{
  padding: 4px 50px;
  width: 80%;
  background: hsla(279, 56%, 63%, 0.3);
  border:  hsla(279, 56%, 30%, 1) 0.5px solid;
}
*:focus {
  outline: none;
}


#submit-button{
  margin-top:40px;
  border-radius: 10px;
  border:  hsla(279, 56%, 30%, 1) 1px solid;
  color: #ecf8f8;
 
}